a {
	color: #000;
	text-decoration: none;
	background-image: linear-gradient(to bottom, transparent 65%, #75ff8d 10%);
    background-repeat: no-repeat;
	-webkit-transition: background-image .4s ease;
	-moz-transition: background-image .4s ease;
	-o-transition: background-image .4s ease;
	-ms-transition: background-image .4s ease;
	transition: background-image .4s ease;

	&:hover,
	&focus,
	&:active {
		background-image: linear-gradient(to bottom, transparent 65%, #d8d8d8 10%);
	}
}